![Python_logo](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)


   # **Cortex Game: Round1--Amount**

> Before playing the game, you need to connect to SASPy first.
>
>> If it is your first time, please follow the 4 steps mentioned below!

***
## **Connect to SASPy**

**0- Connect to your Google Drive folder**

In [ ]:
my_folder = "/content/drive/MyDrive/COLAB-SAS"

from google.colab import drive
drive.mount('/content/drive')

# Change the following code to set your Drive folder
import os
os.chdir(my_folder)
!pwd

Mounted at /content/drive
/content/drive/MyDrive/COLAB-SAS

**1- Make sure that your Python version is 3.3 or higher as well as your Java version is 1.8.0_162 or higher**

In [ ]:
!echo "Python is at" $(which python)
!python --version

Python is at /usr/local/bin/python
Python 3.8.15

In [ ]:
!echo "Java is at" $(which java)
!/usr/bin/java -version

Java is at /usr/bin/java
openjdk version "11.0.17" 2022-10-18
OpenJDK Runtime Environment (build 11.0.17+8-post-Ubuntu-1ubuntu218.04)
OpenJDK 64-Bit Server VM (build 11.0.17+8-post-Ubuntu-1ubuntu218.04, mixed mode, sharing)

**2- Install SASPy**

In [ ]:
!pip install saspy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting saspy
  Downloading saspy-4.4.1.tar.gz (9.9 MB)
     |████████████████████████████████| 9.9 MB 5.2 MB/s
Building wheels for collected packages: saspy
  Building wheel for saspy (setup.py) ... done
  Created wheel for saspy: filename=saspy-4.4.1-py3-none-any.whl size=9937304 sha256=108e41eac24e084f1d2f91861ae00aa69a4244246a0bd7db14bc270eda93e2c3
  Stored in directory: /root/.cache/pip/wheels/0a/f6/ab/f7173c8a824856c66f6fd50194bb8fd3ef93fb4f1824be8d0c
Successfully built saspy
Installing collected packages: saspy
Successfully installed saspy-4.4.1

**3- Create the configuration file "sascfg_personal.py"**
Please, check that your Home Region is correct, you can check it at [ODA-SAS](https://welcome.oda.sas.com/home)

In [ ]:
%%writefile sascfg_personal.py
SAS_config_names=['oda']
oda = {'java' : '/usr/bin/java',
#US Home Region 1
'iomhost' : ['odaws01-usw2.oda.sas.com','odaws02-usw2.oda.sas.com','odaws03-usw2.oda.sas.com','odaws04-usw2.oda.sas.com'],
#US Home Region 2
#'iomhost' : ['odaws01-usw2-2.oda.sas.com','odaws02-usw2-2.oda.sas.com'],
#European Home Region 1
#'iomhost' : ['odaws01-euw1.oda.sas.com','odaws02-euw1.oda.sas.com'],
#Asia Pacific Home Region 1
#'iomhost' : ['odaws01-apse1.oda.sas.com','odaws02-apse1.oda.sas.com'],
#Asia Pacific Home Region 2
#'iomhost' : ['odaws01-apse1-2.oda.sas.com','odaws02-apse1-2.oda.sas.com'],
'iomport' : 8591,
'authkey' : 'oda',
'encoding' : 'utf-8'
}

Overwriting sascfg_personal.py

**4- Create your .authinfo**

If there is no .authinfo file, you can create this

In [ ]:
#%%writefile .authinfo
#oda user USR password PSW

Copy this file to home

In [ ]:
!cp .authinfo ~/.authinfo

cp: cannot stat '.authinfo': No such file or directory

**5- Establish Connection (Need to do this step each time you use SASPy)**

In [ ]:
import saspy
sas_session = saspy.SASsession(cfgfile="/content/drive/MyDrive/COLAB-SAS/sascfg_personal.py")
sas_session

Using SAS Config named: oda
Error trying to read authinfo file:/root/.authinfo
[Errno 2] No such file or directory: '/root/.authinfo'
Did not find key oda in authinfo file:/root/.authinfo

Please enter the OMR user id: A00827714@tec.mx
Please enter the password for OMR user : ··········
SAS Connection established. Subprocess id is 370

Access Method         = IOM
SAS Config name       = oda
SAS Config file       = /content/drive/MyDrive/COLAB-SAS/sascfg_personal.py
WORK Path             = /saswork/SAS_work5FF20001C91B_odaws04-usw2.oda.sas.com/SAS_workD8770001C91B_odaws04-usw2.oda.sas.com/
SAS Version           = 9.04.01M6P11072018
SASPy Version         = 4.4.1
Teach me SAS          = False
Batch                 = False
Results               = Pandas
SAS Session Encoding  = utf-8
Python Encoding value = utf-8
SAS process Pid value = 117019

***
## Connect to Cortex Data Sets

Load Cortex datasets from SAS Studio

In [ ]:
ps = sas_session.submit("""
    libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';
    """)
print(ps["LOG"])

5                                                          The SAS System                      Friday, December  2, 2022 04:12:00 PM

24         ods listing close;ods html5 (id=saspy_internal) file=_tomods1 options(bitmap_mode='inline') device=svg style=HTMLBlue;
24       ! ods graphics on / outputfmt=png;
25
26
27             libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';
28
29
30
31         ods html5 (id=saspy_internal) close;ods listing;
32

6                                                          The SAS System                      Friday, December  2, 2022 04:12:00 PM

33

For local Jupyter

In [ ]:
#%%SAS sas_session
#libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';

UsageError: Cell magic `%%SAS` not found.

## Transform cloud SAS dataset to Python dataframe (pandas)


> **For reference**:

> 1. [Pandas library](https://pandas.pydata.org/docs/user_guide/index.html)

> 2. [sklearn.model_selection for data partition](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [ ]:
import pandas as pd

data1 = sas_session.sasdata2dataframe(
table='hist',
libref='cortex'
)

data2 = sas_session.sasdata2dataframe(
table='target_rd1',
libref='cortex'
)

## Merge the Data

In [ ]:
data_merge = pd.merge(data1, data2, on=["ID"],how="right")
data_merge.sample(5)

#data_merge.head()

,ID,LastName,FirstName,Woman,Age,Salary,Education,City,SeniorList,NbActivities,...,Recency,Frequency,Seniority,TotalGift,MinGift,MaxGift,GaveLastYear,AmtLastYear,GaveThisYear,AmtThisYear
322902,2322903.0,GOMEZ,WILLIAM,0.0,54.0,112100.0,University / College,Suburban,5.0,0.0,...,1.0,1.0,1.0,20.0,20.0,20.0,0.0,0.0,1.0,20.0
593732,2593733.0,HILL,AUBREY,0.0,52.0,185700.0,University / College,City,6.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
154985,2154986.0,WILLIAMSON,RAQUEL,1.0,76.0,15000.0,High School,City,7.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
122823,2122824.0,ESCOBAR,AARON,0.0,38.0,81100.0,University / College,Rural,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,15.0,1.0,10.0
368619,2368620.0,NGUYEN,JANE,1.0,66.0,12800.0,High School,Downtown,8.0,7.0,...,2.0,6.0,8.0,235.0,10.0,100.0,0.0,0.0,0.0,0.0

## Treat Missing Values

> Please be aware that deleting all missing values can induce a selection bias. 
Some missing values are very informative. For example, when MinGift is missing, it means that the donor never gave in the past 10 years (leading to but excluding last year). Instead of deleting this information, replacing it by 0 is more appropriate!

> A good understanding of the business case and the data can help you come up with more appropriate strategies to deal with missing values.

In [ ]:
# In this case, we are replacing MinGift by 0.
# You can do the same for what you think is reasonable for dealing with the other variables.


data_merge[['MinGift']] = data_merge[['MinGift']].fillna(value=0)  
data_merge[['Referrals']] = data_merge[['Referrals']].fillna(value=0)  
data_merge[['Recency']] = data_merge[['Recency']].fillna(value=0)  
data_merge[['Frequency']] = data_merge[['Frequency']].fillna(value=0)
data_merge[['MaxGift']] = data_merge[['MaxGift']].fillna(value=0)
data_merge[['TotalGift']] = data_merge[['TotalGift']].fillna(value=0)

## Data Partition

In [ ]:
# The code below is an illustration on how to sample data on train and validation samples.
# You could use another library or a built-in function to perform sampling.

from sklearn.model_selection import train_test_split
train, validation = train_test_split(data_merge, test_size=0.5, random_state=12345) 

#train.head()
train.sample(10)

,ID,LastName,FirstName,Woman,Age,Salary,Education,City,SeniorList,NbActivities,...,Recency,Frequency,Seniority,TotalGift,MinGift,MaxGift,GaveLastYear,AmtLastYear,GaveThisYear,AmtThisYear
102944,2102945.0,RAMIREZ,KATHLEEN,1.0,0.866667,0.2624,University / College,Suburban,9.0,0.0,...,0.3,0.1,3.0,0.001320,0,0.002,0.0,0.000,1.0,20.0
958477,2958478.0,CASTELLANOS,KATHLEEN,1.0,0.177778,0.0148,University / College,Downtown,0.0,0.0,...,0.0,0.0,NaN,0.000000,0,0.000,0.0,0.000,0.0,0.0
436367,2436368.0,COVARRUBIAS,TAMARA,1.0,0.633333,0.3204,University / College,Suburban,7.0,0.1,...,0.0,0.0,NaN,0.000000,0,0.000,0.0,0.000,0.0,0.0
607276,2607277.0,FROST,CASSIE,1.0,0.233333,0.0460,High School,Suburban,7.0,0.3,...,0.0,0.0,NaN,0.000000,0,0.000,0.0,0.000,0.0,0.0
588270,2588271.0,MEDINA,KENNETH,0.0,0.455556,0.1208,University / College,City,9.0,0.2,...,0.1,0.3,8.0,0.009901,0,0.010,1.0,0.004,0.0,0.0
991669,2991670.0,ARAUZA,SUSAN,1.0,0.777778,0.2044,University / College,Downtown,0.0,0.0,...,0.0,0.0,NaN,0.000000,0,0.000,0.0,0.000,0.0,0.0
377269,2377270.0,KOHR,MATTHEW,0.0,0.633333,0.9068,University / College,Downtown,1.0,0.0,...,0.0,0.0,NaN,0.000000,0,0.000,0.0,0.000,0.0,0.0
246001,2246002.0,LEE,EDWARD,0.0,0.755556,0.0560,High School,City,3.0,0.0,...,0.0,0.0,NaN,0.000000,0,0.000,0.0,0.000,0.0,0.0
836963,2836964.0,FAUGHT,VIRGINIA,1.0,0.322222,0.1148,High School,Downtown,5.0,0.3,...,0.1,0.2,2.0,0.001320,0,0.001,1.0,0.100,0.0,0.0
788859,2788860.0,CLARKE,WANDA,1.0,0.633333,0.4820,University / College,City,4.0,0.0,...,0.2,0.1,2.0,0.000660,0,0.001,0.0,0.000,0.0,0.0

In [ ]:
from sklearn.neural_network import MLPRegressor

X_train = train[['Age', 'Salary','MinGift', 'AmtLastYear','Woman', 'NbActivities','Referrals','Recency','Frequency','MaxGift','TotalGift','SeniorList']] 
Y_train = train['AmtThisYear']
X_valid = validation[['Age', 'Salary','MinGift', 'AmtLastYear','Woman', 'NbActivities','Referrals','Recency','Frequency','MaxGift','TotalGift','SeniorList']] 
Y_valid = validation['AmtThisYear']

regr = MLPRegressor(max_iter=100).fit(X_train,Y_train)
MLPregr_predict=regr.predict(X_valid)

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(

In [ ]:
#you can change the criteria

import numpy as np
from sklearn import metrics
#MAE
print(metrics.mean_absolute_error(Y_valid,MLPregr_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,MLPregr_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,MLPregr_predict)))

14.63682698392945
7276.904629364116
85.30477495055078

### **Other models may also be helpful for this game**

Reference: https://scikit-learn.org/stable/supervised_learning.html

***

## Scoring New Data

### Prepare data for scoring

In [ ]:
data3 = sas_session.sasdata2dataframe(
table='score_rd1',
libref='cortex'
)
data4 = sas_session.sasdata2dataframe(
table='score',
libref='cortex'
)

 ### Score new data based on your champion model
 
> Pick your champion model from previous steps and use it to predict next year donations. 
 
> In this case, the linear regression model performed better than the regression tree based on the MSE criterion.

In [ ]:
scoring_data = pd.merge(data3, data4, on=["ID"],how="right")

# Perform the same strategy for handling missing values for the score dataset.
# In this case, we will only replace missing values of the MinGift variable.

scoring_data[['MinGift']] = scoring_data[['MinGift']].fillna(value=0) 
scoring_data[['Referrals']] = scoring_data[['Referrals']].fillna(value=0)  
scoring_data[['Recency']] = scoring_data[['Recency']].fillna(value=0)  
scoring_data[['Frequency']] = scoring_data[['Frequency']].fillna(value=0)
scoring_data[['MaxGift']] = scoring_data[['MaxGift']].fillna(value=0)
scoring_data[['TotalGift']] = scoring_data[['TotalGift']].fillna(value=0)

scoring_data.head()

,ID,GaveLastYear,AmtLastYear,LastName,FirstName,Woman,Age,Salary,Education,City,SeniorList,NbActivities,Referrals,Recency,Frequency,Seniority,TotalGift,MinGift,MaxGift
0,2000001.0,0.0,0.0,ROMMES,RODNEY,0.0,25.0,107200.0,University / College,City,2.0,0.0,0.0,1.0,2.0,2.0,1010.0,10.0,1000.0
1,2000002.0,0.0,0.0,RAMIREZ,SHARON,1.0,38.0,15800.0,High School,Rural,4.0,1.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0
2,2000003.0,0.0,0.0,TSOSIE,KAREN,1.0,37.0,57400.0,University / College,Rural,5.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0
3,2000004.0,0.0,0.0,LEE,MARY,1.0,78.0,23700.0,High School,Rural,3.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0
4,2000005.0,0.0,0.0,HUMPHRES,ANGIE,1.0,34.0,71900.0,University / College,Rural,8.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0

In [ ]:
# In this case, based on MSE (Mean Squared Error) criterion,
# the linear regression model performed better than the regression tree.

X = scoring_data[['Age', 'Salary','MinGift', 'AmtLastYear','Woman', 'NbActivities','Referrals','Recency','Frequency','MaxGift','TotalGift','SeniorList']] 
MLPregr_predict_end=regr.predict(X)

scoring_data['Prediction'] = (MLPregr_predict_end)
scoring_data.sort_values(by=[('Prediction')], inplace=True,ascending=False)
scoring_data.head()

,ID,GaveLastYear,AmtLastYear,LastName,FirstName,Woman,Age,Salary,Education,City,SeniorList,NbActivities,Referrals,Recency,Frequency,Seniority,TotalGift,MinGift,MaxGift,Prediction
954313,2954314.0,1.0,10000.0,SANCHEZ,JADA,1.0,37.0,222700.0,High School,Suburban,10.0,2.0,1.0,1.0,4.0,9.0,95.0,10.0,40.0,7.049617e+06
537220,2537221.0,1.0,10000.0,BROWN,JEFFREY,0.0,48.0,212700.0,University / College,Suburban,0.0,0.0,0.0,0.0,1.0,0.0,100.0,100.0,100.0,6.876948e+06
94130,2094131.0,1.0,10000.0,HOLDEN,SARAH,1.0,62.0,210000.0,University / College,Downtown,10.0,1.0,3.0,0.0,3.0,6.0,50.0,10.0,25.0,6.826718e+06
265979,2265980.0,1.0,10000.0,ROBERTS,MICHAEL,0.0,27.0,208700.0,University / College,Downtown,3.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,6.804113e+06
631673,2631674.0,1.0,10000.0,KOPPENHEFFER,JENNIFER,1.0,34.0,186500.0,University / College,City,9.0,3.0,1.0,0.0,1.0,0.0,500.0,500.0,500.0,6.420288e+06

## Exporting Results to a CSV File

In [ ]:
Result= scoring_data[['ID','Prediction']]
Result.astype(int).to_csv('Round1_Output.csv', index=False)
#Result.to_csv('Round1_Output.csv', index=False)

In [ ]:
# Define your cutoff and choose a number of rows to submit to the leaderboard

NB = 10000
submission = Result.astype(int).head(NB)
submission.to_csv('Round1_Output.csv', index=False)

In [ ]:
# Reminder: Please note that you need only one column (the list of donors' IDs) to submit to the leaderboard.

In [ ]:
!head Round1_Output.csv

ID,Prediction
2954314,7049616
2537221,6876948
2094131,6826718
2265980,6804112
2631674,6420288
2300292,6093677
2132411,6002410
2104922,5833107
2347623,5817289